<!-- <style type="text/css">
#allmap {
	height: 550px;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}
</style> -->
<script type="text/javascript">
	$(document).ready(function(){
		$("button[id='next']").click(next_click("#createfile_step3_container", "createfile/createfile_step3_page.html", '#createfile_step2_container',function_to_step3));
		$("button[id='last']").click(last_click("#createfile_step2_container", "#createfile_step3_container"));
	});
</script>
<form class="form-horizontal">
	<div class="form-group">
		<p class="text-right col-sm-12">
			step 1 of 2
			<button type="button" class="btn btn-default " id="last">BACK HOME</button>
		</p>
	</div>
	<div class="form-group ">
		<div id="createfile_step3_map" class="col-sm-7"></div>
		<div class="col-sm-5">
			<table id="message_btable" data-row-style="rowStyle" data-click-to-select="false" data-sort-name="messageid" data-sort-order="desc" data-height="500" data-pagination="true"
				data-toggle="table" data-click-to-select="true" data-search="true" data-show-toggle="true">
				<!-- data-show-columns="true" -->
				<thead>
					<tr>
						<th data-field="state" data-checkbox="true"></th>
						<th data-field="id" data-sortable="true">id</th>
						<th data-field="type" data-sortable="true">type</th>
						<th data-field="status" data-sortable="true">status</th>
						<th data-field="message" data-visible="false"></th>
						<th data-field="shape" data-visible="false"></th>
						<th data-field="error" data-visible="false"></th>
						<th data-field="overlay" data-visible="false"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

</form>